<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.arbs.monitoring.main.mapper.MonitoringListMapper">
	<select id="testQuery" resultType="String">
		select SYSDATE from dual
	</select>
	
	<insert id="testInsert" parameterType="String">
		INSERT INTO TEST_TABLE 
			(DATA1,
			 DATA2,
			 DATA3,
			 DATA4
		) VALUES (
			#{sysdate},
			'',
			'',
			''
		)
	</insert>
</mapper>
